<body id="profilepage">
  <div class="container">
    <div class="header">
      <h1 data-user-id='<%= @user.id %>'><%= @user.email %></h1>
    </div>
    <div class="game_links">
    <% if @user == current_user%>
      <div class="game_links_btn">
        <%= link_to "Planned Games", user_games_path(@user), id:"planned-games" %>
      </div>
      <div class="game_links_btn">
        <%= link_to "Joined Games", '#', id:"joined-games" %>
      </div>
      <div class="game_links_btn">
        <%= link_to "Plan A Game", new_user_game_path(@user), id:"plan-game" %>
      </div>
    <% end %>


    <!-- TABLE FOR JSON LOAD -->

  </div>
    <table style="width:90%">
      <tr id="table-header">
      </tr>
      <tr id="table-columns">
      </tr>
    </table>
  </div>

</body>
