<div class="fields_with_errors">
  <% if @game.errors.any?%>
    <h2><%= pluralize(@game.errors.count, "error")%> prevented this Game from saving</h2>
    <ul>
      <% @game.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= form_for @game do |f|%>
  <%= f.hidden_field :planner_id %>

  <div class="field">
    <%= f.collection_select :sport_id, Sport.all, :id, :name, include_blank: "Pick a sport"%>
    <%= f.fields_for :sport do |builder| %>
      <p>-or-</p><%= builder.text_field :name, value: nil, placeholder:"New Sport"%><br><br>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location, placeholder:"Location" %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder:"Title" %>
  </div>

  <div class="field">
    <%= f.label :max_players %>
    <%= f.number_field :max_players, min: 0, max: 50, placeholder: 10 %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_field :start_date, value: Date.today.strftime('%Y-%m-%d'), min: Date.today.strftime('%Y-%m-%d')%>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.time_field :start_time %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes, placeholder:"Notes" %><br /><br />
  </div>

  <div id="submit">
    <%= f.submit %>
  </div>
<% end %>
