<% if @game.errors.any?%>
  <h2><%= pluralize(@game.errors.count, "error")%> prevented this Game from saving</h2>
  <ul>
    <% @game.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @game do |f|%>
  <%= f.hidden_field :planner_id, value: current_user.id %>
  <div class="field">
    <%= f.collection_select :sport_id, Sport.all, :id, :name, include_blank: "Pick a sport"%>

    <%= f.fields_for :sport do |builder| %>
      <%= builder.label :name, "New Sport:"%>
      <%= builder.text_field :name, value: nil, placeholder:"Sport Name" %><br>
    <% end %>
  </div>
  <br>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="field">
    <%= f.label :max_players %>
    <%= f.number_field :max_players, min: 1, max: 50, placeholder: 10 %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_field :start_date, min: Date.today %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.time_field :start_time %>
  </div>

    <%= f.submit %>
<% end %>
