<body id="game_indexpage">
  <div class="container">
      <% if !@user%>
        <div class="links">
        <%= link_to "All Games", games_path %>
        <%= link_to "Today's Games", today_games_games_path %>
        <%= link_to "Future Games", future_games_games_path %>
        <%= link_to "Past Games", past_games_games_path %>
        <br><br>
        <div class="filter">
          <%= form_tag '', :method => :get do%>
            <%= collection_select :sport, :id, Sport.all, :id, :name, include_blank: "FILTER BY SPORT" %>
            <%= submit_tag 'Filter' %>
          <% end %>
        </div>

        <% else %>
          <%= link_to "Back", user_path(@user) %>
        <% end %>
        </div>
    <br /><br />
    <div class="table">
    <fieldset>
      <legend>Games</legend>
        <table style="width:100%">
          <tr>
            <th>Title</th>
            <th>Sport</th>
            <th>Planner</th>
            <th>Players needed</th>
          </tr>
            <%= render partial: 'games', collection: @games, as: :game %>
        </table>
      </fieldset><br />
    </div>
  </div>
</body>
