<h1><%= @game.title %><h1>
<p><%= @game.sport.name %></p>
<p><%= @game.notes %></p>
<p><%= @game.location %></p>
<p><%= @game.start_date %></p>
<p><%= @game.start_time %></p>

<p>Created by: <%= @game.planner_email %></p>
<p>Players: <%= @game.players %></p>


<% if @game.planner == current_user%>
  <%= link_to "Back", games_path%>
  <%= link_to "Edit", edit_game_path(@game)%>
<% elsif @game.users.include?(current_user)%>
<%= link_to "Back", games_path%>
<%= link_to "Leave Game", leave_game_path(@game)%>
<% else%>
  <%= link_to "Back", games_path%>
  <%= link_to "Join Game", join_game_path(@game)%>
<% end %>
